<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
  <div class="keyword-setup-container">
    <div class="logo">
      <img src="{{ url_for('static', filename='assets/logo.svg') }}"
        alt="BLOCKsky Logo" class="logo-img">
      <h1 class="logo-text"><span class="block">BLOCK</span><i>sky</i></h1>
    </div>
    <p class="description">
      Aqui, você pode bloquear perfis que utilize uma palavra-chave específica
      que você deseja ocultar, com ou sem hashtag. É possível bloquear até 100
      perfis de uma só vez. Por exemplo: "#sdv" ou apenas "sdv".<br><br>
      <i>EN ></i> Here, you can block profiles that use a specific keyword, with
      or without a hashtag. You can block up to 100 profiles at time. For
      example: "#sdv" or just "sdv".
    </p>
    <form class="keyword-form" id="keyword-form">
      <div class="form-group">
        <label for="keywords">Palavra-chave</label>
        <input type="text" id="keywords"
          placeholder="Exemplo: #sdv ou apenas sdv" aria-label=" Keywords">
      </div>
      <button type="submit" class="keyword-button">Bloquear Contas</button>
    </form>
    <hr class="line">
    <div class="log-container">
      <div class="info-log" id="info-log">Info Log</div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>